input.button {
	padding-top: 0;
}

.error {
	display: block;
	line-height: 1.3;
	padding-top: 11px;
	padding-bottom: 15px;
}

.error-with-desc {
	line-height: 1.3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-with-desc-bottom {
	padding: 15px 15px 15px;
	color: #000;
}

.error-with-desc-bottom p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
}

.error-with-desc-bottom p:last-child {
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.input,
.textarea {
	-webkit-transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
	-o-transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
	transition: border 0.2s ease-in, outline 0.2s ease-in, box-shadow 0.2s ease-in;
}

.textarea:focus,
.input:focus {
	border: 1px solid #999999;
	-webkit-box-shadow: 0px 0px 0px 2px #D5E7F0;
	box-shadow: 0px 0px 0px 2px #D5E7F0;
}

.avatar {
	background-image: url(../img/avatars/user-avatar-placeholder-big.jpg);
}

.avatar--small {
	height: 47px;
	width: 48px;
	background-image: url(../img/avatars/user-avatar-placeholder-small.jpg);
	background-repeat: no-repeat;
	background-size: 47px;
	border-radius: 24px;
}

.error--success {
	background-color: #00a85a;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#006e3b), to(#00a85a));
	background-image: -webkit-linear-gradient(bottom, #006e3b 0%, #00a85a 100%);
	background-image: -o-linear-gradient(bottom, #006e3b 0%, #00a85a 100%);
	background-image: linear-gradient(to top, #006e3b 0%, #00a85a 100%);
}

.header__nav-link--active {
	border-bottom: none;
}

.button--del {
	font-size: 16px;
	height: 44px;
	padding-left: 1.8em;
	padding-right: 1.8em;
	line-height: 1;
	padding-top: 0.68em;
}

.button--small {
	font-size: 14px;
	height: 2.2em;
	padding-left: 1.3em;
	padding-right: 1.3em;
	line-height: 1;
}

.uploaded-image {
	background-color: transparent;
}

.mr-330 {
	margin-right: 330px !important;
}

html, body {
    height: 100% !important;
}

body::before {
    content: ;
    display: none;
}

.sticky-footer {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar--small {
	width: 48px;
	height: 48px;
	background-size: cover;
}

.clearfix:before {
	content: "";
	display: block;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.contact-item {
	margin-bottom: 15px;
}

.contact-social-link {
	font-weight: 700;
	margin-bottom: 15px;
	display: block;
}

.comment__button-delete {
  position: absolute !important;
  right: 0 !important;
}
.indicator {
	position: relative;
	display: inline-block;
}

.indicator__value {
	font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.005em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle__bg {
	fill: transparent;
	stroke-width: 10px;
	stroke: rgba(226,226,226,0.05);
}

.circle__indicator {
	fill: transparent;
	stroke-width: 10px;
	stroke: rgba(255,255,255,0.5);
	transform-origin: center;
	transform: rotate(-90deg);
}

.circle__indicator--green {
	stroke: #3aaa35;
}

.circle__indicator--blue {
	stroke: #009cf5;
}

.circle__indicator--yellow {
	stroke: #ffcc00;
}

/* SHOP */

.position-static {
	position: static;
}

.flex-content-end {
	justify-content: flex-end;
}

.price-holder {
	display: flex;
	padding-top: 15px;
	padding-bottom: 30px;
}

.price-old {
	font-size: 26px;
	text-decoration: line-through;
	margin-right: 10px;
	color: #B4B4B4;
	font-weight: 600;
}

.price {
	font-size: 26px;
}

.price span {
	font-size: 18px;
}

.card-price-holder {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	position: absolute;
	bottom: 20px;
	left: 15px;
	right: 15px;
}

.card__price {
	font-size: 24px;
	font-weight: 400;
}

.card__price span {
	font-size: 16px;
	font-weight: 400;
}

.card-post .card-price-holder .button {
	position: static;
}

/* Cart */

.header {
	position: relative;
}

.header--vignette .header-user {
	/*padding-top: 60px;*/
	position: absolute;
	bottom: 30px;
	right: 0;
	margin-right: 0;
	font-size: 18px;
}

.header-user__links {
	text-decoration: none;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-right: 0;
	margin-right: 20px;
	font-weight: 600;
	opacity: 0.8;
}

.cart {
	background-color: green;
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	display: inline-block;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 140px;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #FFF;
}

.cart a {
	text-decoration: none;
}


.table {
	border-bottom: 1px solid #dee2e6;
}

.label {
	display: block;
	margin-bottom: 20px;
}

.highlight {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #f8f9fa;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.header-user__block {
	width: 310px;
}

.header-user__buttons-profile {
	display: flex;
}

.button--profile {
	padding-top: 0.6em;
}

.text-success {
	color: #28a745 !important;
}

.text-danger {
	color: #dc3545 !important;
}

.table-total,
.table-total>th,
.table-total>td {
	background-color: #f8f9fa;
}

.button--small {
	padding-top: 0 !important;
}

.cart-img-preview {
	max-width: 80px;
	min-height: auto;
}

.cart-table td {
	vertical-align: middle;
}

.registration-page-header {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.delete-from-cart {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #037EC6;
	opacity: 0.3;
	transition: 0.2s ease-in;
	padding-left: 10px;
	padding-right: 10px;
}

.delete-from-cart:hover {
	opacity: 1;
}

.card__title {
	font-size: 22px;
	font-weight: 700;
}

.card__select,
a.card__select {
	color: #037ec6;
	font-size: 22px;
}

.card-post__img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
